Repository lanl/Draco, pull requests merged in 2020-08, with the labels that each got.

#886 More updates to support testing and regression on ATS-2.
  config/setupMPI.cmake
  config/unix-cuda.cmake
  environment/bashrc/.bashrc_ats2
  environment/bashrc/.bashrc_linux64
  src/c4/test/CMakeLists.txt
  src/c4/test/tstOMP_API_on.cc
Labels: bug, dev-env

#890 X3d mats
  .codecov.yml
  src/mesh/X3D_Draco_Mesh_Reader.cc
  src/mesh/X3D_Draco_Mesh_Reader.hh
  src/mesh/test/pipe_voronoi.x3d.in
  src/mesh/test/tstX3D_Draco_Mesh_Reader.cc
Labels: enhancement

#891 Mark functions defined in header inline to change to internal linkage
  src/c4/xthi_cpuset.hh
Labels: enhancement

#894 Fix TF_ environment for rzansel and sierra
  environment/bashrc/.bashrc_ats2
Labels: dev-env

#893 New vendor locations for ccs-net
  environment/bashrc/.bashrc
  environment/bashrc/.bashrc_ccsnet
Labels: dev-env
